body{
  background: linear-gradient(to right, rgb(67, 143, 97), rgb(16, 49, 13));
  margin: 0px;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
}

.Main-container > img{
  position:absolute;
  z-index: -1;
}

.header{
  color: #CCB0B0;
  font-size: 96px;
  font-weight: 400;
  margin-bottom: 50px;
}

.Content-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5%;
}

.input-field{
  width: 900px;
  height: 35px;
  border-width: 10px;
  border-style: solid;
  border-color: #383434;
  background-color: #777272;
  font-size: 20px;
  padding-left: 30px;
}

.input-field::placeholder{
  color:rgba(72, 71, 71, 1);
  font-family: 'Pragati Narrow', sans-serif;
  font-weight: 700;
  font-size: 20px;
  padding-left: 30px;
}
.input-button{
  height: 57px;
  margin-left: -8px;
  border-width: 10px;
  border-style: solid;
  background-color: #777272;
  border-color: #383434;
}

.search-img{
  width: 30px;
  object-fit: cover;
}

.output-terminal{
  background-color: #2F2F2F;
  width: 985px;
  height: 500px;
  color: white;
  padding: 10px 10px 10px 10px;
}
.vector1{
  top: 0px;
  left: 30%;
  width: 270px;
  height: 270px;
  z-index: -1;
}

.vector2{
  top: 0%;
  right: 0%;
  width: 200px;
  height: 200px;
}

.vector3{
  left: 0%;
  top: 35%;
  width: 200px;
  height: 200px;
}
.vector4{
  bottom: 0%;
  left: 0%;
  width: 300px;
  height: 300px;
}
.vector5{
  bottom: 0%;
  left: 30%;
}

.vector6{
  bottom: 0%;
  left: 65%;
}

.vector7{
  right:0%;
  top: 20%;
  width: 400px;
  height: 400px;
}

.geometry-img{
  position: absolute;
  width: 250px;
  height: 250px;
  top: 0%;
  left: 0%;
  z-index: -1;
}